body#adminReport_list {
  background-color: grey;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
}

body {
  background-color: #f3f3f3;
}

.wrapper {
  position: absolute;

  transform: translate(-50%, -50%);
  width: 1440px;
  height: 600px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left {
  width: 5%;
  background-color: grey;
  padding: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}





/* Student score */
#adm-table-report {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 0%;
  margin-top: 4%;
  font-size: 15px;
}

#adm-table-report td,
#table-score th {
  border: 0px solid #ddd;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

#adm-table-report th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: grey;
  color: white;
  font-size: 20px;
}

#adm-view-btn {
  margin-top: 3%;
  margin-left: 30%;
  font-size: 17px;
  width: 70px;
  height: 30px;
}
