body#login {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./assets/LoginPic/bg-login.avif");
    background-size: 100vw 100vh;
  }
  

  */ * {
    box-sizing: border-box;
  }

  .text-sign{
    font-weight: bold;
    margin-top: -22vh;
    margin-left: 2.5vw;
    font-size: 28px;
  }
  .textl2{
    font-weight: normal;
    margin-top: -3%;
    margin-left: 10%;
    font-size: 20px;
  }
  .bgpic{
    width: 30px;
    height: 30px;
  }
  .logo-pic{
    width: 28vw;
    height: 33vh;
    margin-top: -6vh;
    margin-left: 0vw;
    margin-bottom: 4vh;
  }
  .centerbox {
    display: grid;
    box-sizing: border-box;
    position: relative;
    background: rgb(255, 255, 255);
    width: 28.5vw;
    height: 55vh;
    left: 36vw;
    top: 2vh;
    bottom: 29.91%;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  }

  .username{
    box-sizing: border-box;
    position: absolute;
    width: 23.5vw;
    height: 5vh;
    font-size: 15px;
    left: 2.5vw;
    top: 27vh;
    background-color: #C4E0F9;
  }
  .password{
    box-sizing: border-box;
    position: absolute;
    width: 23.5vw;
    height: 5vh;
    font-size: 15px;
    left: 2.5vw;
    top: 33vh;
    background-color: #C4E0F9;
    
  }
  .centerbox .text{
    font-size: 15px;
    color: grey;
    padding-left: 5%;
    padding-top: 2%;
  }
  .smt-btn{
    background-color: #17468C;
    box-sizing: border-box;
    position: absolute;
    width: 23.5vw;
    height: 5vh;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    left: -19vw;
    top: 30vh;
    font-size: 15px;
    color: white;
  }