/* body{ background-color: rgb(119, 255, 216);}
.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .grid-display {

    border-radius: 10px;
    margin-top: 3%;
    margin-left: 3.5%;
    width: 297%;
    height: 1685%;
    background-color: rgb(65, 65, 65);
    border: 1px solid black;
    text-align: center;
  }

.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .grid-bottom {
    border-radius: 10px;
    margin-top: 126.5%;
    margin-left: 3.5%;
    width: 297%;
    height: 7.5%;
    background-color: rgb(255, 244, 244);
    border: 1px solid black;
    text-align: center;
  }
  button {
    --light: #de3434;  
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background-color: var(--light);
    border-radius: 30px;
    font-size: 150%;
    font-weight: 500;
    background-size: 100% 100%;
    margin-bottom: 15px;
  }

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .grid-chat{
    margin-top: 126.5%;
    margin-left: 3.5%;
    width: 227%;
    height: 7.5%;
    background-color: rgb(255, 244, 244);
    border: 1px solid black;
    text-align: center;
  }

  
  

   */

   * {
    box-sizing: border-box;
  }

   .grid-container {
    display: grid;
   }

   .grid-item {
    /* display: grid; */
   }

   #below {
    grid-template-columns: 70% 30%;
    height: 30vh;
   }

   #display {
    border: 2px solid red;
    height: 70vh;
   }

   #chat {
    border: 2px solid blue;
    height: 30vh;
    overflow: scroll;
   }

   #tools {
    border: 2px solid magenta;
    height: 25vh;
    grid-template-columns: 80% 20%;
   }

   #l-tools {
    border: 2px solid cyan;
   }

   #r-tools {
    border: 2px solid teal;
   }

   #bottom {
    border: 2px solid green;
    height: 5vh;
   }