body#teachingUI {
    /* background-color: rgb(119, 255, 216); */
    background-color: #1a1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

*/ * {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

#display {
    /* border: 2px solid red; */
    height: 100vh;
    flex-grow: 9;
}

#screen {
    background-color: lightgray;
    height: 82vh;
}

#tools {
    /* border: 2px solid magenta; */
    height: 20vh;
    /* grid-template-columns: 99%; */
    flex-direction: column;
    margin-left: 1vh;

}

#l-tools {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    height: 16vh;
    width: 99%;
    display: inline-flex;
    justify-content: space-between;
}

.left-zone {
    flex-grow: 4;
}

.right-zone {
    flex-grow: 4;
}

.divided-line {
    flex-grow: 2;
    border-left: 2px solid black;
    height: 16vh;
    position: absolute;
    left: 50%;
    margin-left: -17vh;
    /* top: 0; */
}

.Bar-text {
    padding-top: 1vh;
}

.l-text {
    margin-top: 1%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 5%;
}

.r-text {
    margin-top: 0.25%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 5%;
}

.emoji-stack {

    margin-top: 1%;
    margin-left: 5%;
    color: #6fbced;
    vertical-align: top;

}

.btn-reset {
    margin-left: 5%;
    margin-top: 1vh;
    font-size: 12px;
}

.rbtn-reset {
    margin-left: 80%;
    margin-top: 2vh;
    font-size: 17px;
}

.bar-area {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.bar-multi {
    display: flex;
    flex-direction: column;
}

.barRate {
    color: black;
    font-size: 15px;
    margin-left: 10vh;
    margin-top: 1vh;
    margin-right: 5px;
    width: 15vh;
}

.survbar {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
    margin-top: 1vh;
    
}

.bar-1 {
    width: 100%;
    height: 10px;
    position: relative;
    background: #c54;
    background-image: linear-gradient(to right, red, green);
}

#tt-tools {
    /* border: 2px solid magenta; */
    grid-template-columns: 99%;
    margin-left: 1vh;

}

#top-tools {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    height: 79vh;
    margin-top: -81vh;
}

/* .zone-line{
    border-left:2px solid rgb(0, 0, 0);
    height: 14vh;

} */

#chat {
    /* border: 2px solid blue; */
    height: 100vh;
    overflow: hidden;
    flex-grow: 1;
}

#container {
    /* width: 400px; */
    flex-direction: column;
    display: flex;
    height: 90vh;
    background: #eff3f7;
    /* margin: 0 auto; */
    /* font-size: 0; */
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-top {
    text-align: center;
}

.chat {

    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 83vh; 
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 2px;
}

.chat li {
    padding: 10px 30px;
    background-color: white;
}

.chat b,
.chat p {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.chat p {
    color: #bbb;
}

.chat .message {
    padding: 20px;
    color: #fff;
    line-height: 10px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    margin-bottom: -15vh;
    border-radius: 7px;
}

.chat .me {
    text-align: right;
}

.chat .you .message {
    background-color: #6fbced;
    font-size: 15px;
}

.chat .me .message {
    background-color: #6fbced;
    font-size: 15px;
}


.chat-footer {
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-top: -2vh;
    background-color: #808280;
    /* padding: 20px 30px 10px 20px; */
}

.chat-footer .chat-message {
    display: inline-flex;
    padding: 5px;
    /* justify-content: flex-end;  */
    margin-bottom: -6vh;
    margin-left: -4vh;
}

.chat-footer .chat-message textarea {
    resize: none;
    /* border: none; */
    display: block;
    width: 100%;
    height: 50%;
    /* overflow-y: scroll; */
    border-radius: 3px;
    /* padding: 20px; */
    /* font-size: 13px; */
    /* \margin-bottom: 16px; */
}

.chat-footer textarea::placeholder {
    color: #ddd;
}

.chat-footer .chat-message .send {
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;

    height: 4vh;
}
.chat-footer .chat-emoji {
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 2vh;
    font-size: 8px;
}

.chat-footer .chat-emoji button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #6fbced;
    vertical-align: top;
    font-size: 20px;

    /* margin-left: 333px; */
    /* margin-top: 5px; */
}