* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

BsLightbulbFill, BsLightbulb {
    size: 5em;
}

body#teachingUI {
    background-color: #1a1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

/* .wrapup-teac {
    display: grid;
    grid-template-columns: auto 28.5vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
} */
.wrapup-teac {  
    display: grid;
    grid-template-columns: auto 24vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .chat { grid-area: 1 / 3 / 4 / 4; }
  
  .display { grid-area: 1 / 2 / 2 / 4; }
  
  .bararea { grid-area: 3 / 2 / 4 / 3; }

/* display (left side) */

#display {
    height: 100vh;
    width: 1000px;
}

.screen {
    /* background-color: lightgray; */
    height: 82vh;
}

#meetingSDKElement {
    top: 10px !important;
    left: 10px !important;
    margin-left: 5px;
    margin-right: auto;
    width: 70vw;
    height: 80vh;
}

.lightbulb {
    size: 5em;
    display: flex;
    padding-top: 1vh;
    padding-left: 5vw;
    margin-top: 0vh;
}

#tools {
    height: 20vh;
    flex-direction: column;
    margin-left: 1vh;
}

#l-tools {
    /* border: 2px;
    border-radius: 10px;
    background-color: #242424;
    height: 15vh;
    width: 74vw;
    align-items: end;
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    margin-left: -0.2vw;
    margin-top: 4.5vh; */

    border: 2px;
    border-radius: 10px;
    background-color: #242424;
    height: 12vh;
    width: 78vw;
    align-items: end;
    display: inline-flex;
    justify-content: space-between;
    /* margin: 10px 0; */
    /* margin-top: 10vh; */
    position: absolute;
    margin-left: -0.2vw;
    margin-top: 7.8vh;
}

.left-zone {
    flex-grow: 4;
}

.right-zone {
    flex-grow: 4;
}

.divided-line {
    /* border-left: 2px solid #000000;
    height: 12vh; */
    border-left: 2px solid #000000;
    height: 12vh;
    /* margin-top: 13vh; */
    margin-left: 5vw;

}

.divided-line-2 {
    /* margin-top: 13.5vh; */
    border-left: 2px solid #000000;
    height: 11vh;
    margin-left: 2vw;
}

.Bar-text {
    /* padding-top: 1vh;
    display: flex; */
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
}

.l-text {
    margin-top: 1%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 5%;
}

.r-text {
    margin-top: 0.25%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 30%;
    margin-bottom: 5px;
}

.emoji-stack {
    /* margin-top: -7%;
    margin-left: 12%;
    color: #6fbced;
    vertical-align: top;
    display: flex;
    gap: 5px; */
    margin-top: 0vh;
    margin-left: 3vw;
    color: #6fbced;
    vertical-align: top;
    display: flex;
    gap: 5px;

}

.emoji-item {
    font-size: 38px;
    margin-left: 1.5vw;
    margin-top: -0.5vh;
}

.btn-reset-1{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: 0vw;
    width: 20px;
    height: 20px;
    font-size: 13px;
}
.btn-reset-2{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: 0vw;
    width: 20px;
    height: 20px;
    font-size: 13px;
}
.btn-reset-3{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: -0w;
    width: 20px;
    height: 20px;
    font-size: 13px;
}


.bar-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.bar-multi {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 12vh;
}

.barRate {
    margin-top: 0.5vh;
    font-size: 20px;
    font-style: oblique;
    margin-left: 5vw;
    width: 17vh;
    color: white;
}

.surv-area {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0vh;
    color: white;
}

.survpercent {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
    margin-left: 5vh;
    margin-top: 0vh;
    color: white;
}


#tt-tools {
    grid-template-columns: 99%;
    margin-left: 1vh;
}

#top-tools {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    height: 79vh;
    width: 120vh;
    margin-bottom: 2vh;
}

/* chat (right side) */

#chat-teac {
    background: #333333;
    height: 99.5vh;
    border-radius: 10px;
    width: 25.8vw;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    box-sizing: border-box;
    margin-left: 2.5vw;

}

.chat-top {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #333333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    overflow-y: scroll;
    height: 85vh;
    width: 21.5vw;
    background-color: #242424;
    list-style: none;
}

#container > .chat {
    /* overflow-y: scroll; */
    /* border-top: 2px solid #333333; */
    /* border-bottom: 2px solid #1a1a1a1a; */
    border-radius: 2px;
    width: 100%;
}

#container > .chat b, #container > .chat p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

#container > .chat p {
    color: #bbb;
}

#container > .chat .message {
    font-size: 12px;
    padding: 20px;
    color: #fff;
    line-height: 10px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 7px;
}

#container > .chat > .you {
    padding: 10px 30px;
    /* background-color: #1a1a1a1a; */
    text-align: left;
}

#container > .chat > .me {
    padding: 10px 30px;
    /* background-color: #1a1a1a1a; */
    text-align: right;
}

#container > .chat > .you > .message {
    background-color: #6fbced;
}

#container > .chat > .me > .message {
    background-color: #6fbced;
}


.frame-chat{
    width: 61vh;
    margin-left: 3vh;
}
.chat-footer {
    border: 3px paleturquoise solid;

}


.chat-message {
    display: grid;
    grid-template-columns: auto 80px;
    height: 45px;
    /* overflow-y: scroll; */
    background-color: #242424;
}

.chat-message>textarea {
    font-size: 13px;
    margin: 0;
    padding: 8px 16px;
    width: 15.5vw;
    margin-top: 5px;
    margin-left: 5px;
    max-height: 4.5vh;
    border-radius: 3px;
}
.chat-message > textarea::placeholder {
    color: #242424;
}
.chat-message>.send {
    font-size: 10px;
    width: 70px;
    height: 35px;
    margin-top: 5%;
    margin-left: -3.5vw;
}
.chat-emoji {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-top: 10px;
}

.emoji-button {
    background: none;
    border: none;
}

.chat-emoji button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #6fbced;
    vertical-align: top;
    font-size: 20px;
    margin-top: -1vh;
}

.num-emoji-stack{
    font-size: 15px;
    margin-left: -2vw;
    margin-top: 5vh;
}
 
.emo-button-leave-teac {
    margin-left: 170px;
    margin-top: 4px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    padding: 3px 10px;
    border: 1px solid #aaa;
    background-color: #ff0000;
    background-image: linear-gradient(top, #fff, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* leave */
.emo-button-leave-teac {
    margin-left: -20vw;
    margin-top: 2vh;
    font-size: 18px;
    transition: all 0.3s ease-out;
    /* padding: 1px 10px; */
    border: 1px solid #aaa;
    background-color: #ff0000;
    background-image: linear-gradient(top, #fff, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    color: white;
    text-decoration: none;
    cursor: pointer;

}
