* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

BsLightbulbFill, BsLightbulb {
    size: 5em;
}

body#teachingUI {
    background-color: #1a1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapup {
    display: grid;
    grid-template-columns: 1000px auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* display (left side) */

#display {
    height: 100vh;
    width: 1000px;
}

.screen {
    background-color: lightgray;
    height: 82vh;
}

#meetingSDKElement {
    top: 10px !important;
    left: 10px !important;
    margin-left: 5px;
    margin-right: auto;
    width: auto;

}

.lightbulb {
    size: 5em;
    display: flex;
    padding-top: 13vh;
    padding-left: 75px;
    margin-top: -14vh;
}

#tools {
    height: 20vh;
    flex-direction: column;
    margin-left: 1vh;
}

#l-tools {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #333333;
    height: 15vh;
    width: 69.5vw;
    align-items: end;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 83vh;
    position: absolute;
}

.left-zone {
    flex-grow: 4;
}

.right-zone {
    flex-grow: 4;
}

.divided-line {
    border-left: 2px solid black;
    height: 14.5vh;
}

.divided-line-2 {
    margin-top: 10.5vh;
    border-left: 2px solid black;
    height: 14.5vh;
}

.Bar-text {
    /* padding-top: 1vh;
    display: flex; */
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
}

.l-text {
    margin-top: 1%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 5%;
}

.r-text {
    margin-top: 0.25%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 30%;
    margin-bottom: 5px;
}

.emoji-stack {
    margin-top: -5%;
    margin-left: 6%;
    color: #6fbced;
    vertical-align: top;
    display: flex;
    gap: 5px;

}

.emoji-item {
    font-size: 43px;
    margin-left: 3vh;

}

.btn-reset-engage {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: -20%;
    margin-left: 12vw;
    width: 20px;
    height: 20px; 
    font-size: 13px;
    filter: white;
}
.btn-reset-light {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: -16%;
    margin-left: 14vw;
    width: 20px;
    height: 20px;
    font-size: 13px;
}
.btn-reset-stack {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: -13%;
    margin-left: 14vw;
    width: 20px;
    height: 20px;
    font-size: 13px;
}

.bar-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.bar-multi {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 25vh;
}

.barRate {
    margin-top: 0.25%;
    font-size: 20px;
    font-style: oblique;
    margin-left: 20%;
    width: 22vh;
    color: white;
}

.surv-area {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: white
}

.survpercent {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
    padding-top: 10vh;
    margin-left: 1vh;
    margin-top: -11vh;
    color: white;
}


#tt-tools {
    grid-template-columns: 99%;
    margin-left: 1vh;
}

#top-tools {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    height: 79vh;
    width: 120vh;
    margin-bottom: 2vh;
}

/* chat (right side) */

#chat {
    background: #333333;
    height: 120vh;
    width: 30vw;
}

.chat-top {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #333333;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    overflow-y: scroll;
    height: 85vh;
    width: 30vw;
    list-style: none;
    background-color: grey;
}

#container > .chat {
    overflow-y: scroll;
    border-top: 2px solid #fff;
    border-bottom: 2px solid grey;
    border-radius: 2px;
    width: 150%;
}

#container > .chat b, #container > .chat p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

#container > .chat p {
    color: #bbb;
}

#container > .chat .message {
    font-size: 12px;
    padding: 20px;
    color: #fff;
    line-height: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 7px;
}

#container > .chat > .you {
    padding: 10px 30px;
    background-color: grey;
    text-align: left;
}

#container > .chat > .me {
    padding: 10px 30px;
    background-color: grey;
    text-align: right;
}

#container > .chat > .you > .message {
    background-color: #6fbced;
}

#container > .chat > .me > .message {
    background-color: #6fbced;
}


.frame-chat{
    width: 61vh;
    margin-left: 3vh;
}
.chat-footer {
    border: 3px paleturquoise solid;

}


.chat-message {
    display: grid;
    grid-template-columns: auto 80px;
    padding: 5px;
    height: 7vh;
    overflow-y: scroll;
}

.chat-message > textarea {
    font-size: 16px;
    margin: 0;
    padding: 8px 16px;
    width: 23vw;
    margin-top: 5px;
    margin-left: 5px;
    height: 4.5vh;
    border-radius: 3px;
}
.chat-message > textarea::placeholder {
    color: #333333;
}
.chat-message > .send {
    font-size: 10px;
    width: 70px;
    height: 35px;
    margin-top: 5%;
    margin-left: -7px;
}
.chat-emoji {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-top: 10px;
}

.emoji-button {
    background: none;
    border: none;
}

.chat-emoji button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #6fbced;
    vertical-align: top;
    font-size: 20px;
    margin-top: -1vh;
}

.num-emoji-stack{
    font-size: 20px;
    margin-left: -32px;
    margin-top: 47px;
}
 
.emo-button-leave-teac {
    margin-left: 175px;
    margin-top: 4px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    padding: 3px 10px;
    border: 1px solid #aaa;
    background-color: #ff0000;
    background-image: linear-gradient(top, #fff, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* leave */
.emo-button-leave-teac {
    margin-left: -25vw;
    margin-top: 4px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    /* padding: 1px 10px; */
    border: 1px solid #aaa;
    background-color: #ff0000;
    background-image: linear-gradient(top, #fff, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    color: white;
    text-decoration: none;
    cursor: pointer;

}
